.w100p{width: 100px;}
.w160p{width: 160px;}
.w20{width: 20%;}
.w100{width: 100%;}

.h150p{height: 150px!important;}

.pad10{padding: 10px;}
.pad30{padding: 30px;}
.pt5{padding-top: 5px;}
.pt8{padding-top: 8px;}
.pt10{padding-top: 10px;}
.pl0{padding-left: 0px;}
.pl20{padding-left: 20px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}

.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mb0{margin-bottom: 0px;}
.mb10{margin-bottom: 10px;}

.text-left{text-align: left!important;}

.hide{display: hidden;}

.flex{
	display: -webkit-box-flex;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box-flex;
	display: -ms-flex;
	display: flex;
}
.flex-1{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-webkit-box: 1;
	-ms-flex: 1;
	flex: 1;
}

.check-pagesize{
    position: relative;
    top: 30px;
    z-index: 999;
    display: inline-block;
}
.check-pagesize .label-tip{
	padding: 10px;
}
.check-pagesize select{
	padding: 5px;
}

.time-tab .add-on{
	background-color: #eee;
	width: 20px;
	padding: 7px 5px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 1px 1px 0;
}

.select2-container--default .select2-selection--single{
	min-height: 34px;
}