.w100p{width: 100px;}
.w20{width: 20%;}
.w100{width: 100%;}

.h150p{height: 150px!important;}

.pad10{padding: 10px;}
.pad30{padding: 30px;}
.pt8{padding-top: 8px;}
.pt10{padding-top: 10px;}
.pl20{padding-left: 20px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}

.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}

.hide{display: hidden;}

.flex{
	display: -webkit-box-flex;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box-flex;
	display: -ms-flex;
	display: flex;
}
.flex-1{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-webkit-box: 1;
	-ms-flex: 1;
	flex: 1;
}