/*login*/
.login input{margin: 0px!important;}
.login .item .alert{float: inherit;margin: 0px;}
.login .form-group{margin-bottom: 20px;}
.login .item .alert::after{display: none;}

/*updateproject*/
.updateproject-page select{
	padding: 6px 0;
}
.projectViewPicture-page .thumbnail{
	height: 210px;
}

/*ihave*/
@media (min-width: 768px){
	#selectTab .modal-sm{
	    width: 400px;
	}
	#selectUser.modal-body{
		padding: 15px 5px;
	}
}
#selectUser.modal-body{
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}