/*login*/
.login input{margin: 0px!important;}
.login .item .alert{float: inherit;margin: 0px;}
.login .form-group{margin-bottom: 20px;}
.login .item .alert::after{display: none;}

/*updateproject*/
.updateproject-page select{
	padding: 6px 0;
}
.projectViewPicture-page .thumbnail{
	height: 210px;
}

/*ihave*/
@media (min-width: 768px){
	#selectTab .modal-sm{
	    width: 400px;
	}
	#selectUser.modal-body{
		padding: 15px 5px;
	}
}
#selectUser.modal-body{
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

/*backendMatch*/
.backendMatch-page .selected-tab .selected-item{
	border: 1px solid #DDDDDD;
	padding: 5px;
}
.backendMatch-page .select-tab{
	margin-top: 10px;
	border: 1px solid #DDDDDD;
	padding: 0px 10px;
}
.backendMatch-page .select-tab .row{
	border-bottom: 1px solid #DDDDDD;
}
.backendMatch-page .select-tab .row:last-child{
	border-bottom: none;
}
.backendMatch-page .select-tab .row .tab-name{
	background-color: #F2F2F2;
	padding: 5px 0px;
	text-align: center;
}
.backendMatch-page .select-tab .row .select-item{
	float: left;
	padding: 5px 10px;
}
.backendMatch-page .check-tab{
	margin-top: 20px;
	border: 1px solid #DDDDDD;
}
.backendMatch-page .check-tab .item{
	text-align: center;
	border-right: 1px solid #DDDDDD;
	padding: 5px;
}
.backendMatch-page .check-tab .item:last-child{
	border-right: none;
}
.backendMatch-page .check-tab .item.up_down{
	background: url('../images/up_down.png') no-repeat;
	background-size: 15px 15px;
	background-position-x: 80%;
	background-position-y: 50%;
}
.backendMatch-page .check-tab .item.up_arrow{
	background: url('../images/up_arrow.png') no-repeat;
	background-size: 15px 15px;
	background-position-x: 80%;
	background-position-y: 50%;
}
.backendMatch-page .check-tab .item.down_arrow{
	background: url('../images/down_arrow.png') no-repeat;
	background-size: 15px 15px;
	background-position-x: 80%;
	background-position-y: 50%;
}

/*agentlist*/
#showPostModal .modal-body{
	max-height: 300px;
	overflow-y: auto;
}

/*chat*/
.chat-page{
	height: 100%;
	background-color: #fff;
	color: #333;
}
.chat-page .chat-tab{
	height: 100%;
	flex-direction: column;
}
.chat-page .chat-tab .message-tab{
	height: 100%;
	overflow-y: auto; 
	padding: 10px 20px 20px;
}
.chat-page .chat-tab .message-tab .info{
	display: inline-block;
	background-color: #F2F2F2;
	padding: 10px;
	border-radius: 5px;
}
.chat-page .chat-tab .message-tab .img{
	border-radius: 50%;
}
.chat-page .chat-tab .message-tab .img img{
	border-radius: 50%;
	width: 30px;
}
.chat-page .chat-tab .message-tab .user-name{
	padding: 7px;
}
.chat-page .chat-tab .input-bar{
	height: 105px;
	border-top: 1px solid #dddddd;
}
.chat-page .chat-tab .input-bar textarea{
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}